* {
    color: #ccddff;
    font-family: sans-serif;
    text-transform: uppercase;
}

button {
    outline: none;
    cursor: pointer;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #3b4f61;
}

h1 {
    padding: 20px 0;
    margin: 0;
    background: steelblue;
}

#menu {
    margin: 0 auto;
    text-align: center;
}

#stripe {
    background: #346288;
    height: 30px;
}

#stripe button {
    border: none;
    height: 100%;
    background: #ccddff;
    color: #3b4f61;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#stripe button:hover {
    background: steelblue;
    color: yellow;
}

#result {
    width: 15%;
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    color: #00ff2f;
}

#TicTacToe {
   height: 500px;
   width: 500px;
   margin: 0 auto;
   font-size: 0;
   margin-top: 30px;
}

#TicTacToe button {
   height: 33.333%;
   width: 33.333%;
   border: 6px solid #3b4f61;
   font-size: 120px;
   background: #536c82;
   border-radius: 10%;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
}

#TicTacToe button:hover {
   background-color: #61788c;
}
